<!DOCTYPE HTML>

<html>
	<head>
		<title>ULRENA</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='assets/css/noscript.css') }}" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

				<div id="header">

						<div class="inner">
							<header>
								<h1><a href="{{ url_for('index') }}" id="logo">ULRENA</a></h1>
								<hr />
								<p>Simplifying Automation</p>
							</header>
							<footer>
								<a href="#banner" class="button circled scrolly">Start</a>
							</footer>
						</div>

					

				</div>

				<section id="banner">
					<header>
						<h2>Hi. You're looking at <strong>ULRENA - Utility Arena</strong>.</h2>
					</header>
				</section>

				<section class="carousel">
					<div class="reel">
				

						<article>
							<a href="{{ url_for('error') }}" class="image featured"><img src="https://git-scm.com/images/logos/downloads/Git-Logo-Black.png" alt="" /></a>
							<header>
								<h3><a href="{{ url_for('error') }}">Git</a></h3>
							</header>
						</article>

						<article>
							<a href="{{ url_for('error') }}" class="image featured"><img src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Maven_logo.svg" alt="" /></a>
							<header>
								<h3><a href="{{ url_for('error') }}">Maven</a></h3>
							</header>
						</article>

						<article>
							<a href="{{ url_for('error') }}" class="image featured"><img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Tomcat-logo.svg" alt="" /></a>
							<header>
								<h3><a href="{{ url_for('error') }}">Tomcat</a></h3>
							</header>
						</article>

						<article>
							<a href="{{ url_for('error') }}" class="image featured"><img src="https://www.sonarqube.org/assets/logo-31ad3115b1b4b120f3d1efd63e6b13ac9f1f89437f0cf6881cc4d8b5603a52b4.svg" alt="" /></a>
							<header>
								<h3><a href="{{ url_for('error') }}">Sonarqube</a></h3>
							</header>
						</article>

						<article>
							<a href="{{ url_for('error') }}" class="image featured"><img src="https://upload.wikimedia.org/wikipedia/commons/6/67/Kubernetes_logo.svg" alt="" /></a>
							<header>
								<h3><a href="{{ url_for('error') }}">Kubernetes</a></h3>
							</header>
						</article>

					</div>
				</section>

			
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.dropotron.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/browser.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/breakpoints.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

	</body>
</html>
